
<div class="fourbg"><span>
    <h1>PROPESED SYSTEM<br><h3>to Successfully Plant a Tree</h3></h1>
    <h3>Tree Care</h3>
    <p>Trees are a great addition to any landscape. They raise property values, decrease respiratory diseases, lower cooling bills, reduce stormwater runoff, provide wildlife food and habitat—the list goes on and on. If you want to capture some of these benefits for yourself, there are ten steps to follow when planting a tree to ensure it will thrive and grow for years to come.</p>
<h2>1. Locate Utilities</h2>
<p>The last thing you want to do when planting a tree is accidentally damaging underground utilities. Call 811 before you do any digging to have your local providers come out to locate and mark any utilities on your property. Also consider overhead utilities—don’t plant a tree that will reach 40’ tall underneath your electrical service drop or other supply lines.Dig a hole three times as wide as the tree's root ball and just deep enough for the trunk flare to sit at the finished surface of the soil.</p>
<h2>2. Identify the Trunk Flare</h2>
<p>The trunk flare is the point at which the tree trunk transitions to the root system. The trunk flare should sit right at the surface of the earth after the tree is planted. Burying a tree too deeply can suffocate the tree, create problems with fungus and pests, and lead to a poorly developed root system. Most species of trees have a clear curve leading to the roots, but for those without, the trunk flare should be considered to be the point above the highest root on the trunk. Trees from the nursery sometimes have their trunk flares buried too deep, so some excavation might be necessary.

</p>
<h2>3. Dig a Wide Hole
</h2>
<p>A tree’s roots travel outward much more than they do downward. Dig a hole three times as wide as the root ball, but only as deep as the bottom of the root ball to the trunk flare. After you backfill the hole, the roots will have wide ring of uncompacted soil to grow into.</p>
<h2>4. Remove the Tree Container</h2>
<p>Whether it’s a plastic pot, burlap, or wire mesh and plastic, remove any material containing the root ball. For very large balled and burlap trees, it may be difficult to remove the entire covering. In that case, cut the metal cage to remove the sides and remove as much burlap as possible. The roots will grow laterally and should not be constrained by the remaining material.

    It is especially important, however, to remove any synthetic twine or burlap, as these materials will not degrade underground and will strangle the growing tree. Twine around the trunk can rapidly girdle the tree, cutting off its transport of water, air, and nutrients, and leading to the decline and death of the tree.
    
    Container-grown trees may have circling roots or other root problems. Making few vertical slices and spreading out the roots as much as possible will help the roots grow naturally and vigorously.</p>
<h2>5. Place the Tree in the Hole</h2>
<p>After preparing the root ball, place the tree in the hole so that the trunk flare will sit a couple inches above ground level. It is better to have the root flare a bit too high than for it to be buried. This will also allow for some settling of the tree in the soil. Spread the roots out in the hole as much as possible.</p>
<h2>6. Straighten the Tree</h2>
<p>After the tree is settled in its hole, view the tree from several directions to make sure the trunk is straight and vertical. Add soil underneath the root ball to support the tree as necessary. For multi-stemmed trees, consider where the tree will be viewed from and focus on the overall balance of the branches from those points.</p>
<h2>7. Fill the Hole</h2>
<p>When the tree has been positioned well, start backfilling the hole gently, making sure not to damage the roots. To help settle the soil evenly, fill the hole a few inches at a time, soaking the soil with water as you go. This will eliminate air pockets in the soil, which can dry out roots and settle unexpectedly in the future.</p>
<h2>8. Stake the Tree if Necessary</h2>
<p>Not only do most trees do not need staking after they’re planted, it can be detrimental to their overall vigor. On windy sites, however, or if the tree is in a location that could see damage from lawnmowers or vandalism, protective staking may be warranted. If staking is considered necessary, make sure to remove the stakes within the first year of growth to avoid long-term damage to the tree.</p>
<h2>9. Mulch Around the Base</h2>
<p>Mulch protects your tree in a variety of ways. It holds in moisture, reduces competition from weeds, moderates soil temperature, prevents damage from string trimmers or lawn mowers, and simply looks better than bare dirt. Adding two to four inches of mulch, whether it’s shredded bark, pine straw, compost, or any other organic material, will greatly improve the health of your new tree. Ensure that the mulch is kept a couple inches away from the trunk of the tree to prevent issues with rot or pests that could arise from the retained moisture.</p>
<h2>10. Keep Providing Care</h2>
<p>Putting the tree in the ground isn’t the end of the journey. Because of the disturbance to the root system, many newly-transplanted trees undergo transplant shock. The first few weeks after planting are an especially important time to nurture the tree. In the Spokane climate, regular watering will be the most important thing to do to protect your tree. A new tree needs approximately five gallons of water per week for every inch of trunk diameter, and a slow, deep watering with a drip system is much better than dumping a bucket of water around the tree and calling it a day.

    Keep an eye out for pests and root suckers, but otherwise keep maintenance to a minimum. Pruning should be kept to a minimum for the first few years and performed only to establish the form of the tree. Similarly, fertilizer should be avoided unless soil tests show a serious nutrient deficiency, as the salts in them can interfere with a young tree’s ability to take in water. Hand-pull any weeds that appear around the tree to avoid inadvertently damaging it.
    
    The older a tree gets, the better it can withstand drought, disease, and neglect. Putting in time now will allow you to reap the rewards of having a mature tree in your landscape.
    
    Adapted from the International Society of Arboriculture tree planting guidelines: http://www.treesaregood.com/treeowner/plantingatree.aspx
    
     </p>
     <br><br>
     <br><br>
     <img src="assets/images/hj.jpeg" class="te" />
     
     <img src="assets/images/re.jpeg" class="te" />
     <img src="assets/images/ty.jpeg" class="te" />
     <img src="assets/images/ui.jpeg" class="te" />
     
     <br><br>
     <br><br>
     <button class="butq1" ><a routerLink="/third-component" routerLinkActive="active" ariaCurrentWhenActive="page" ><span style=" color:white;">◀ Back</span></a></button>
     <button class="butq2"><a routerLink="/five-component" routerLinkActive="active" ariaCurrentWhenActive="page" ><span style=" color:white;">Next ▶</span></a></button>
     <br><br><br>
</span>

</div>