
<div class="fourbg"><span>
    <h1>EXISTING SYSTEM</h1><hr>

   <h2>1 Poor Selection</h2>
   <p>Selecting the right tree for the right place is also essential. Go to the planting site and look up and around. Remember to consider both the mature height and width of any trees you may plant. Take a look at what is already growing well in your yard or in your neighborhood. Choose varieties suited to your area and those that are the most resistant to common insect and disease pests.</p>
   
   <h2>2 Inadequate Root System</h2>
   <p>A healthy root system means a healthy tree. To give your tree the best possible chance in our often harsh Great Plains environment, make sure it has an appropriate-sized root ball. A general rule of thumb is that for every inch of tree diameter there should be 10"- 12" of the root ball. Anything less and the tree will suffer transplant shock and take much longer to establish.

   </p>
   <h2>3 Poor Planting Site</h2>
   <p>A healthy root system means a healthy tree. To give your tree the best possible chance in our often harsh Great Plains environment, make sure it has an appropriate-sized root ball. A general rule of thumb is that for every inch of tree diameter there should be 10"- 12" of the root ball. Anything less and the tree will suffer transplant shock and take much longer to establish.

   </p>
   <h2>4 Pot Bound / Girdling Root</h2>
   <p>If you have extremely sandy or heavy clay soils you may want to amend the backfill at planting to give the tree a good start. Before you plant, have a soil test done to determine soil pH and fertilizer requirements for the planting site.

    Pay attention to the soil type at the planting site, as this will impact species selection. Sandy soils may require drought-tolerant species, and heavy clay soils may require moisture-tolerant trees.
    Finally, check the drainage pattern of the planting site. If you have low areas, either raise those areas or correct the drainage. If either of these is not an option, plant a moisture-tolerant species.
    
    </p>
   
   <h2>4 Pot Bound / Girdling Root</h2>
   <p>If the plant is in a container, remove it and examine the root system. It is root bound? Are there an excessive number of spiraling roots? These will both cause major tree health issues. If the tree contains just a few spiraling roots, you can score the bottom and sides of the root ball to prevent them from causing long-term damage to the tree’s health.

    Always look for girdling roots that are wrapped around the trunk. Even if they are on just one side of the plant, they must be removed. Girdling roots will eventually choke off the tissue responsible for the uptake of water and nutrients, and the tree will not survive. 
    
    </p>
   
   <h2>5 Planting Hole is Too Small</h2>
   <p>Ever hear the saying “Dig a million dollar hole for a $5.00 plant”? You only have one chance to plant your tree right, so do it right the first time. Dig a hole that is twice the width of the root ball. By digging a planting hole that is wider than the root ball, you are creating soil conditions that allow newly developing roots to establish and grow.

   </p>
   
   <h2>6 Planted Too Deep</h2>
  <p>The planting hole should be no deeper than the root ball itself. If the planting site consists of heavy clay soil or you are planting a tree that does not tolerate wet feet, it should be planted shallower. Before placing the tree in the planting hole, locate the first level of primary lateral roots. These should be at or near the soil surface.

  </p>

   <h2>7 Improperly or Not Mulched</h2>
   <p>Mulch promotes the healthy establishment of newly planted trees. Proper mulching protects tree roots from extreme weather conditions, eliminates weed and grass competition and preserves soil moisture. However, excessive mulching can be a problem. Too much mulch can trap excessive moisture at the base of the trunk and negatively impact the tree's health.

    The mulch should be shaped like a crater. Next to the trunk, keep the mulch 1 inch thick. Outward, toward the edge of the root ball, the mulch can be up to 4 inches deep.
    
    </p>
   
   <h2>8 Not Staked</h2>
   <p>Some current research says staking can be detrimental. However, if done properly, the benefits of staking far outweigh any disadvantages. Staking is not always required. It may not be necessary for small trees or trees planted in protected areas. Trees that are tall and leggy or are in high wind areas need to be staked.  Keep in mind that trees are staked to anchor the root ball, not to eliminate movement of the stem or canopy. The goal is to prevent the root ball from rocking and breaking newly developed root hairs.

   </p>

   <h2>9 Improper Watering</h2>
   <p>More newly planted trees die from too much water than not enough. This is particularly common in heavy clay soils or in over- irrigated fescue lawns. Too much water will suffocate the roots, so try to find a happy medium.

    The amount of water required will depend on the type of nursery stock selected, soil type and species planted. A container tree may require more water than a balled and burlapped (B&B) tree, a river birch requires more water than a red oak and a sandy soil requires more frequent watering than clay soil.
    
    Trees should be watered at planting and again the next day. Water three days later and again three days after that. During summer’s dry spells, B&B trees should be watered once every seven to ten days if planted in clay soils and once a week if planted in sandy soils.
    
    Sprinkler systems may provide sufficient-water until the hottest part of the summer. However, during the hottest, driest parts of summer, you may need to give the tree additional water. Container-grown trees will dry out faster than B&B trees. Under some conditions, a container-grown tree can dry out during
    
    </p>
   
   <h2>10 Failure to Monitor</h2>
   <p>Integrated Pest Management (IPM) is the practice of using multiple methods of evaluation and control to combat current and emerging insect and disease pests. One of the primary functions of IPM is what is called “scouting.” The whole idea is to correct a problem as it arises and before it gets out of control. Pay attention to your landscape and seasonal changes that occur. Get into the habitat of walking your landscape on a routine basis. This allows you to identify potential issues before they become a problem, it’s great exercise and stress relief and it’s an opportunity to enjoy a landscape that you have probably worked very hard to achieve.</p>
   
   <h2></h2>
   <p></p>
   <img src="assets/images/jk.jpeg" class="te" />
     <img src="assets/images/qw.jpeg" class="te" />
     <img src="assets/images/uio.jpeg" class="te" />
     <img src="assets/images/W.jpeg" class="te" />
     
   <h2></h2>
   <p></p>
   
   <br><br><br><br>
     <button class="butq1" ><a routerLink="/second-component" routerLinkActive="active" ariaCurrentWhenActive="page" ><span style=" color:white;">◀ Back</span></a></button>
     <button class="butq2"><a routerLink="/fourth-component" routerLinkActive="active" ariaCurrentWhenActive="page" ><span style=" color:white;">Next  ▶</span></a></button>
     <br><br><br>
</span>

</div>